/* @import url("/static/style.css"); */

body {
}

div.menu {
    background-color: rgb(200, 200, 200);
}

div.content {
    background-color: rgb(220, 220, 220);
}

textarea.kirby {
    border: none;
    resize: none;

    opacity: 0.7;
    background-color: rgb(200, 200, 200);
}

div.kirby {
    padding-top: 1px;
}

ul.kirby li{
    display: inline;
}
