/* @import url("/static/style.css"); */
body {
    background-color: rgb(55, 55, 55);
}

div.menu {
    background-color: rgb(230, 125, 152);
}

div.content {
    background-image: url(/static/kirby_flat.svg);
    background-size: 100% 95%;
}

div.footer {
    background-color: rgb(230, 125, 152);
}

div.pastecontent {
    position: relative;
    z-index: 2;
}

textarea.kirby {
    border: none;
    resize: none;

    opacity: 0.7;
    background-color: rgb(230, 125, 152);
}

img.kirby {
    width: 90%;
    height: 80%;
    top: 5%;
    left: 5%;
    position: absolute;

    z-index: 1;
}

div.kirby {
}

ul.kirby li {
}
