/* @import url("/static/style.css"); */

html,body {
  height: 100%; 
  margin: 0px;
}

body {
  font-family:'tahoma','sans serif','arial';
  background-color: #2A2A2A; /*old browsers*/
  background: radial-gradient(ellipse at center, #404040 0%,#505050 0%,#111111 100%); /* W3C */
  background-attachment:fixed;
}

a,a:visited {
  display: inline;
  text-shadow:none;
  color:blue;
  text-decoration:none;
}

a:hover {
  display: inline;
  text-decoration:underline;
}

div.menu {
  position:static;
  margin:0; padding:0;
  margin:0px;
  width:100%;

  background: linear-gradient(#333, #222);
  border-radius:0px;

  border-bottom: 1px solid #111;
  box-shadow:0px 0px 10px #000;

  color:#FFF;
  text-align: left;
  font-size:1.1em;
}

div.menu ul.kirby  {
  margin:14px 0px 10px 0px;
  padding:0px;
}

div.menu div.kirby {
  margin-left: auto;
  margin-right: auto;
  width:64%;
  min-width:840px
}

div.footer {
  position:static;
  width:60%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  background:none;
  color:#AAA;
  min-width:700px;
}

div.footer a {
  color:#00AAFF;
  padding:5px;
}

div.footer a:hover {
  color:#00AAFF;
  padding:4px;
  border:1px solid #333;
  background:#1f1f1f;
  border-radius:3px;
  text-decoration:none;
  box-shadow: inset 0px 0px 3px #0f0f0f;
}

div.content {
  position:static;
  width:60%;
  min-width:700px;
  margin:0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow:0px 0px 10px #222;
  background-color: #FAFAFA;
  background: linear-gradient(to right, #F4F4F4, #FAFAFA 5%);
  padding:0.2em 1em 2em 1em;
  border-radius:0px 0px 5px 5px;
  border-width:1px;
  border-color:#222;
}

div.pastecontent {
  position: static;
  margin-top:1em;
  border:1px solid #eee;
  background-color: #F7F7F7;
  padding-left:5px;
  max-height:82vh;
  overflow-y:scroll;
}

div.content textarea.kirby {
  margin-top:1.5em;
  width:96%;
  opacity:1;
  background-color: #F5F5F5;
  border:1px solid #CCC;
  border-radius:4px;
  box-shadow:inset 0px 0px 3px #BBB;
  padding:8px;
}

div.kirby {
  padding-top: 1px;
}

ul.kirby li {
  display: inline;
  margin:0px;
  margin-left:1px;
}

ul.kirby li:first-child {
  margin: 0px;
  margin-right:30px;
  margin-top:-5px; /* because inline-block */
  padding:2px;
  
  text-transform: uppercase;
  text-shadow:0px -1px #111;
  font-size:1.1em;
  
  display:inline-block; /* needed for transformation */
  -ms-transform: skew(-8deg); /* IE 9 */
  -webkit-transform: skew(-8deg); /* Chrome, Safari, Opera */
  transform: skew(-8deg);*/
}

ul.kirby li a {
  font-size:0.8em;
  color:#FFF;
  padding:4px 14px 4px 14px;
  border:1px solid #262626;
  background: linear-gradient(#2055b0, #003c93);
  border-radius:3px;
  text-decoration:none;
  box-shadow: 1px 1px 1px #333;
}

ul.kirby li a:hover {
  font-size:0.8em;
  color:#00AAFF;
  padding:4px 14px 5px 14px;
  border:1px solid #333;
  background: linear-gradient(#222, #111);
  border-radius:3px;
  text-decoration: none;
  box-shadow: inset 0px 0px 3px #000;
}

ul.kirby li select {
  border:1px solid #aaa;
  padding:2px 3px 1px 3px;
  font-size:0.8em;
  border-radius:4px;
  color:#333;
}


/* code-area */
pre { 
  margin:2px; margin-left:0px;
  line-height:1.2em;
}

div.linenodiv {  
  background:#eee;
  padding-left:5px;
  padding-right:5px;
  border-right:1px solid #e5e5e5;
}

div.highlight {  
  padding-left:5px;
}